$black: #000;
$white: #ffffff;
$blue: #0000ff;
$grey1: #efefef;

$font1: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin view-one {
	@media all and (max-width: 850px) {
		@content;
	}
}
@mixin view-two {
	@media all and (max-width: 420px) {
		@content;
	}
}
@mixin view-three {
	@media all and (max-width: 450px) {
		@content;
	}
}
// new footer 


// accordian =============================
/*
.accordion {
	//border: 1px solid #000;
	background-color: #eee;
	color: $black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: 0;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color: #ffffff;
  }
  
  .accordion:after {
	content: '\002B';
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
*/