
.landscape-blocks:nth-child(2)
.landscape-blocks:nth-child(4),
.landscape-blocks:nth-child(5),
.landscape-blocks:nth-child(6),
.landscape-blocks:nth-child(8),
.landscape-blocks:nth-child(9),
.landscape-blocks:nth-child(10),
.landscape-blocks:nth-child(12),
.landscape-blocks:nth-child(13),
.landscape-blocks:nth-child(14)
{
	display: none;
}


.landscape-blocks:nth-child(7),
.landscape-blocks:nth-child(11),
.landscape-blocks:nth-child(15)
{
    margin-top: 50px;

}
.landscape-blocks:nth-child(1)

{   
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	margin-top: 110px;
	height: 150px;

}

.landscape-blocks:nth-child(1) h2 {
    margin: auto;
    font-weight: 700;
    font-size: 1.5rem;
}
.landscape-blocks:nth-child(16){
	display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	height: 200px;
	margin: auto;

}
.landscape-painting-container {
	margin: 0 auto;
	width: 300px;
    font-size: 0.8rem;
	text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
	text-align: center;
}

.landscape-painting-title{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

.landscape-painting-cost{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

.landscape-add-to-basket{
	display: block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    cursor: not-allowed;
}
.landscape-add-to-basket:hover {
	text-decoration: underline;
}

@media all and (min-width: 701px) {

.landscape-blocks:nth-child(1){
display: block;
position: relative;
margin-top: 0;
height: 300px;
-webkit-order: 1;
-ms-flex-order: 1;
order:1;
-webkit-flex: 1 100%;      
-ms-flex: 1 100%;
flex: 1 100%;
}

.landscape-blocks:nth-child(1) h2 {
	font-size: 2rem;
    position: absolute;
    top: 50%;
	left:10%;
    -webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.landscape-blocks:nth-child(2){
    -webkit-order: 2;
    -ms-flex-order: 2;
   order: 2;
   -webkit-flex: 1 5%;          
   -ms-flex: 1 5%;
   flex: 1 5%;

}

.landscape-blocks:nth-child(3){
    -webkit-order: 2;
    -ms-flex-order: 2;
   order: 2;
   -webkit-flex: 1 50%;          
   -ms-flex: 1 50%; 
   flex: 1 50%;
	
}
.landscape-blocks:nth-child(4){
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 1 45%;          
    -ms-flex: 1 45%; 
	flex: 1 45%;
}
.landscape-blocks:nth-child(5){
  height: 100px;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order:3;
  -webkit-flex: 1 100%;          
  -ms-flex: 1 100%; 
  flex: 1 100%;
}
.landscape-blocks:nth-child(6){
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    -webkit-flex: 1 20%;      
    -ms-flex: 1 20%;
	flex: 1 20%;
}
.landscape-blocks:nth-child(7){
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    -webkit-flex: 1 50%;      
    -ms-flex: 1 50%;
	flex: 1 50%;
}
.landscape-blocks:nth-child(8){
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    -webkit-flex: 1 30%;      
    -ms-flex: 1 30%;
	flex: 1 30%;
}

.landscape-blocks:nth-child(9){
    height: 100px;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    -webkit-flex: 1 100%;      
    -ms-flex: 1 100%;
	flex: 1 100%;
}
.landscape-blocks:nth-child(10){
	
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
    -webkit-flex: 1 30%;      
    -ms-flex: 1 30%;
	flex: 1 30%;
}
.landscape-blocks:nth-child(11){
	-webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
    -webkit-flex: 1 50%;      
    -ms-flex: 1 50%;
	flex: 1 50%;
}
.landscape-blocks:nth-child(12){
	
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
    -webkit-flex: 1 20%;      
    -ms-flex: 1 20%;
	flex: 1 20%;
}
.landscape-blocks:nth-child(13){
    height: 100px;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
    -webkit-flex: 1 100%;      
    -ms-flex: 1 100%;
	flex: 1 100%;
}
.landscape-blocks:nth-child(14){
	
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
    -webkit-flex: 1 40%;      
    -ms-flex: 1 40%;
	flex: 1 40%;
}
.landscape-blocks:nth-child(15){
	
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
    -webkit-flex: 1 60%;      
    -ms-flex: 1 60%;
	flex: 1 60%;
}
.landscape-blocks:nth-child(16){
    height: 200px;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9;
    -webkit-flex: 1 100%;      
    -ms-flex: 1 100%;
    flex: 1 100%;
}



.landscape-blocks:nth-child(4),
.landscape-blocks:nth-child(5),
.landscape-blocks:nth-child(6),
.landscape-blocks:nth-child(8),
.landscape-blocks:nth-child(9),
.landscape-blocks:nth-child(10),
.landscape-blocks:nth-child(12),
.landscape-blocks:nth-child(13),
.landscape-blocks:nth-child(14)
{
	display: block;
}

.landscape-blocks:nth-child(7),
.landscape-blocks:nth-child(11),
.landscape-blocks:nth-child(15)
{
    margin-top: 0;

}

.landscape-painting-container {
	width: 500px;
	}

}

@media all and (max-width: 1000px) and (min-width: 702px){
	.landscape-blocks:nth-child(1) h2 {
    left:15%;
}
	.landscape-painting-container {
    width: 350px;
	}