.top-container article:nth-child(1) span,.top-container article:nth-child(4) span,
.bottom-container article:nth-child(4) span,.left-container article:nth-child(2) span,
.hidden-top-container article:nth-child(1) span, 
.hidden-bottom-container article:nth-child(2) span
{
	 -webkit-animation: group-one 6s linear 0.2s infinite;
     -moz-animation: group-one 6s linear 0.2s infinite;
     animation: group-one 6s linear 0.2s infinite;
}

@-webkit-keyframes group-one {
	0% {-webkit-transform: rotate(0deg);} 25% {-webkit-transform: rotate(90deg);}
	50% {-webkit-transform: rotate(180deg);} 75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes group-one {
	0% {-moz-transform: rotate(0deg);} 25% {-moz-transform: rotate(90deg);}
	50% {-moz-transform: rotate(180deg);} 75% {-moz-transform: rotate(270deg);}
	100% {-moz-transform: rotate(360deg);}
}
@keyframes group-one {
	0% {transform: rotate(0deg);} 25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);} 75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

.top-container article:nth-child(2) span, .right-container article:nth-child(1) span, 
.bottom-container article:nth-child(2) span,
.hidden-top-container article:nth-child(2) span,
.hidden-bottom-container article:nth-child(3) span {
	-webkit-animation: group-two 5.3s linear 0.1s infinite;
	-moz-animation: group-two 5.3s linear 0.1s infinite;
	animation: group-two 5.3s linear 0.1s infinite;
}

@-webkit-keyframes group-two {
	0% {-webkit-transform: rotate(0deg);} 25% {-webkit-transform: rotate(90deg);}
	50% {-webkit-transform: rotate(180deg);} 75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes group-two {
	0% {-moz-transform: rotate(0deg);} 25% {-moz-transform: rotate(90deg);}
	50% {-moz-transform: rotate(180deg);} 75% {-moz-transform: rotate(270deg);}
	100% {-moz-transform: rotate(360deg);}
}
@keyframes group-two {
	0% {transform: rotate(0deg);} 25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);} 75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

.top-container article:nth-child(3) span,.right-container article:nth-child(2) span, 
.bottom-container article:nth-child(1) span, .hidden-top-container article:nth-child(3) span {
	-webkit-animation: group-three 5.8s linear 0.3s infinite;
	-moz-animation: group-three 5.8s linear 0.3s infinite;
    animation: group-three 5.8s linear 0.3s infinite;
}

@-webkit-keyframes  group-three {
	0% {-webkit-transform: rotate(0deg);} 25% {-webkit-transform: rotate(90deg);}
	50% {-webkit-transform: rotate(180deg);} 75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes  group-three {
	0% {-moz-transform: rotate(0deg);} 25% {-moz-transform: rotate(90deg);}
	50% {-moz-transform: rotate(180deg);} 75% {-moz-transform: rotate(270deg);}
	100% {-moz-transform: rotate(360deg);}
}
@keyframes  group-three {
	0% {transform: rotate(0deg);} 25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);} 75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}


.top-container article:nth-child(5) span,.bottom-container article:nth-child(5) span, 
.bottom-container article:nth-child(3) span,.left-container article:nth-child(1) span,
.hidden-bottom-container article:nth-child(1) span
 {
	-webkit-animation: group-four 5.5s linear 0.2s infinite;
	-moz-animation: group-four 5.5s linear 0.2s infinite;
	animation: group-four 5.5s linear 0.2s infinite;

}

@-webkit-keyframes group-four {
	0% {-webkit-transform: rotate(0deg);} 25% {-webkit-transform: rotate(90deg);}
	50% {-webkit-transform: rotate(180deg);} 75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes group-four {
	0% {-moz-transform: rotate(0deg);} 25% {-moz-transform: rotate(90deg);}
	50% {-moz-transform: rotate(180deg);} 75% {-moz-transform: rotate(270deg);}
	100% {-moz-transform: rotate(360deg);}
}
@keyframes group-four {
	0% {transform: rotate(0deg);} 25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);} 75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}


.grow-one {
  -webkit-animation: grow-one 2.5s linear 0.2s infinite alternate;
  -moz-animation: grow-one 2.5s linear 0.2s infinite alternate;
  animation: grow-one 2.5s linear 0.2s infinite alternate;
}

@-webkit-keyframes grow-one {0% {transform: scale(1);}
  100% {transform: scale(1.5);}}

@-moz-keyframes grow-one {0% {transform: scale(1);}
  100% {transform: scale(1.5);}}

@keyframes grow-one {0% {transform: scale(1);}
  100% {transform: scale(1.5);}}

.grow-two {
  -webkit-animation: grow-two 2.2s linear 0.1s infinite alternate;
  -moz-animation: grow-two 2.2s linear 0.1s infinite alternate;
  animation: grow-two 2.2s linear 0.1s infinite alternate;

}

@-webkit-keyframes grow-two {0% {transform: scale(1);}
  100% {transform: scale(1.4);}}

@-moz-keyframes grow-two {0% {transform: scale(1);}
  100% {transform: scale(1.4);}}

@keyframes grow-two {0% {transform: scale(1);}
  100% {transform: scale(1.4);}}

.grow-three {
  -webkit-animation: grow-three 1.9s linear 0s infinite alternate;
  -moz-animation: grow-three 1.9s linear 0s infinite alternate;
  animation: grow-three 1.9s linear 0s infinite alternate;

}

@-webkit-keyframes grow-three {0% {transform: scale(1);}
  100% {transform: scale(1.3);}}

@-moz-keyframes grow-three {0% {transform: scale(1);}
  100% {transform: scale(1.3);}}

@keyframes grow-three {0% {transform: scale(1);}
  100% {transform: scale(1.3);}}

.art-animo-stop .spa-animo-stop:hover,
li:hover .skill-set-link,li:hover .education-link, 
li:hover .about-me-link ,li:hover .cv-link 
{    
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
    animation-play-state: paused;
}

.details p:nth-child(1) {
      -webkit-animation: bounce-one .5s linear 0s infinite alternate;
      -moz-animation: bounce-one .5s linear 0s infinite alternate;
      animation: bounce-one .5s linear 0s infinite alternate;

}
@-webkit-keyframes bounce-one {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }

}

@-moz-keyframes bounce-one {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }

}

@keyframes bounce-one {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }

}

.details p:nth-child(2){
        -webkit-animation: bounce-two .5s linear 0.2s infinite alternate;
        -moz-animation: bounce-two .5s linear 0.2s infinite alternate;
        animation: bounce-two .5s linear 0.2s infinite alternate;
}

@-webkit-keyframes bounce-two {
  0% {
    top: 12px;
  }
  100% {
    top: 0;
  }

}

@-moz-keyframes bounce-two {
  0% {
    top: 12px;
  }
  100% {
    top: 0;
  }

}

@keyframes bounce-two {
  0% {
    top: 12px;
  }
  100% {
    top: 0;
  }

}

.details p:nth-child(5) {
	    -webkit-animation: bounce-three .6s linear 0.1s infinite alternate;
      -moz-animation: bounce-three .6s linear 0.1s infinite alternate;
      animation: bounce-three .6s linear 0.1s infinite alternate;

}

@-webkit-keyframes bounce-three {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

@-moz-keyframes bounce-three {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

@keyframes bounce-three {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

.details p:nth-child(6) {
		    -webkit-animation: bounce-four .6s linear 0.2s infinite alternate;
        -moz-animation: bounce-four .6s linear 0.2s infinite alternate;
        animation: bounce-four .6s linear 0.2s infinite alternate;

}

@-webkit-keyframes bounce-four {
  0% {
    top: 16px;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce-four {
  0% {
    top: 16px;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce-four {
  0% {
    top: 16px;
  }
  100% {
    top: 0;
  }
}


