@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900i");
#thunder1 {
  fill: #FFEB3B; }
  @media all and (max-width: 600px) {
    #thunder1 {
      margin: auto;
      width: 50px; } }

header.header {
  width: 100%;
  margin-top: 50px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media all and (max-width: 600px) {
    header.header {
      height: 140px;
      margin-top: 40px; } }
  header.header .drop article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.6rem;
    color: #37474F;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFEB3B; }
    @media all and (max-width: 600px) {
      header.header .drop article {
        font-size: 1.5rem; } }
  header.header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 200px; }
    header.header aside .target, header.header aside .target2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      height: auto;
      width: 100px; }
    @media all and (max-width: 600px) {
      header.header aside {
        height: 140px;
        width: 50px; } }
  header.header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    header.header div article {
      width: 300px;
      height: 100px; }
      @media all and (max-width: 600px) {
        header.header div article {
          width: 200px;
          height: 60px; } }

.thundermenu {
  fill: #37474F;
  margin: auto; }
  @media all and (max-width: 600px) {
    .thundermenu {
      width: 20px; } }

article.thunder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper-burger {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto; }
  @media all and (max-width: 600px) {
    .wrapper-burger {
      height: 60px;
      width: 60px;
      margin: 30px auto 48px auto; } }

.block-burger {
  box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
  display: none;
  height: 160px;
  width: 100%;
  background: #FFEB3B;
  margin: 30px auto 60px auto; }
  .block-burger .block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .block-burger .block-wrapper article {
      color: #37474F;
      text-align: center;
      -webkit-box-flex: 1;
          -ms-flex: 1 20%;
              flex: 1 20%;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem;
      letter-spacing: 2px;
      font-style: italic; }
      @media all and (max-width: 600px) {
        .block-burger .block-wrapper article {
          font-size: 0.9rem;
          height: 146px; } }
      .block-burger .block-wrapper article ul li:nth-child(1) {
        text-decoration: underline; }
      .block-burger .block-wrapper article ul li {
        padding: 0.6rem 0; }

.icon {
  height: 14px;
  width: 80px;
  top: 30px;
  background-color: #FFEB3B;
  /*border-radius: 20px;*/
  position: absolute;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media all and (max-width: 600px) {
    .icon {
      height: 10.5px;
      width: 60px;
      top: 22.5px; } }

.icon:before {
  left: 0;
  position: absolute;
  top: -25px;
  height: 14px;
  width: 80px;
  background-color: #FFEB3B;
  content: "";
  /*border-radius: 20px;*/
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media all and (max-width: 600px) {
    .icon:before {
      height: 10.5px;
      width: 60px;
      top: -18.75px; } }

.icon:after {
  left: 0;
  position: absolute;
  top: 25px;
  height: 14px;
  width: 80px;
  background-color: #FFEB3B;
  content: "";
  /*border-radius: 20px;*/
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media all and (max-width: 600px) {
    .icon:after {
      height: 10.5px;
      width: 60px;
      top: 18.75px; } }

.menu {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  /*display: inline-block;*/
  /*margin: 40px;*/
  cursor: pointer; }
  @media all and (max-width: 600px) {
    .menu {
      height: 60px;
      width: 60px; } }

.burger2 .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

.burger2 .icon:after {
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s; }

.burger2 .icon:before {
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s; }

.burger2.open .icon {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background: transparent; }

.burger2.open .icon:before {
  -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg); }

.burger2.open .icon:after {
  -webkit-transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }

.main-structure {
  width: 100%;
  height: auto; }
  .main-structure .block {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 60px; }
    @media all and (max-width: 600px) {
      .main-structure .block {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        margin-bottom: 30px; } }

.pod {
  color: #FFEB3B;
  border: 3px solid #FFEB3B;
  height: 240px;
  width: 240px;
  border-radius: 5px;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3); }
  .pod:hover {
    cursor: crosshair; }
    .pod:hover .buy p {
      background: #FFEB3B;
      padding: 5px;
      border-radius: 2px;
      color: #37474F; }
  @media all and (max-width: 600px) {
    .pod {
      margin-left: auto;
      margin-right: auto; } }
  .pod .pod-wrapper .img-part {
    width: 100%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .pod .pod-wrapper .img-part img {
      display: block;
      margin: auto; }
  .pod .pod-wrapper header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px; }
    .pod .pod-wrapper header p {
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 1px;
      font-weight: 700;
      margin: auto; }
  .pod .pod-wrapper footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px; }
    .pod .pod-wrapper footer article {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%; }
    .pod .pod-wrapper footer .price, .pod .pod-wrapper footer .buy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .pod .pod-wrapper footer .price p, .pod .pod-wrapper footer .buy p {
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 1px;
        font-weight: 700;
        margin: auto; }

@media all and (max-width: 950px) {
  .disable-pod {
    display: none; } }

.pod:nth-child(1) {
  margin-bottom: 30px; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #37474F; }

a {
  color: #FFEB3B;
  text-decoration: none; }

ul {
  list-style: none; }

footer.footer {
  letter-spacing: 2px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  color: #FFEB3B;
  margin: 30px 0 30px 0; }
  footer.footer div {
    text-align: center;
    margin: 0 auto; }
  @media all and (max-width: 600px) {
    footer.footer {
      margin: 60px 0 30px 0; } }
