* { 
	/*outline: blue solid 1px;*/
	padding: 0;
	margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}

html {
    background: transparent;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
/*-----------------------  content-structure ------------------*/
.main-container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
}

.main-container > * {
	-webkit-flex: 1 100%;      
    -ms-flex: 1 100%;
	flex: 1 100%;
	
}

.header-fixed-width {
	display: none;
}

/*----------------------------- header ---------------------*/

a { 
	color: #000000;
	text-decoration: none;
}

a:active,a:visited , a:link
 {
    text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-weight: 400;
	
}
a:hover {
	color: #7E7E7E;
}
/*------------------- mobile nav -----------------------*/

.fixed-header-2 {
	position: fixed;
	top: 10px;
	left: 0;
	margin: 0;
}

.mobile-nav-container {
	width: 100%;
	height: auto;
	margin: 40px 0 0 0;
}

figcaption {
	width: 100%;
	height: auto;
}

figcaption ul {
	margin: 0 auto;
	width: 90%;
    display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;

}
figcaption ul li a{

	display:inline-block;
	padding: 5px;
	background: #ffffff;


}
/*------------------ main content -----------------------*/


.header-box-content:nth-child(1) {
	padding: 10%;
}
.header-box-content:nth-child(2) h2  {
	text-align: center;
	font-weight: 700;
	font-size: 0.8rem;
    line-height: 1.3rem;
}

.header-box-content:nth-child(3) {
	display: none;
}


/*-------------- 550+ design --------------------*/
@media all and (min-width:550px) {

header.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
aside.header-fixed-width {
	display: block;
	-webkit-flex: none;      
    -ms-flex: none;
    flex: none;
	width: 3%;
}

header.header-content-container {
    -webkit-flex: auto;      
    -ms-flex: auto;
    flex: auto;
	width: auto;
    display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
	flex-flow: row wrap;
}
header.header-content-container > * {
	-webkit-flex: 1 100%;      
    -ms-flex: 1 100%;
	flex: 1 100%;
}
header.header-container,aside.header-fixed-width,header.header-content-container {
	height: 350px;
}

.header-box-content:nth-child(1), .header-box-content:nth-child(2){
-webkit-order: 1;
-ms-flex-order: 1;
order: 1;
-webkit-flex: 1 50%;      
-ms-flex: 1 50%;
flex: 1 50%;
height: 250px;
}

.header-box-content:nth-child(1) {
	display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: flex-start;
	justify-content: flex-start;
    -webkit-align-items: center;
	align-items: center;
	padding: 0;
}

.logo-container {
	height: auto;
	width: 200px;
}
.header-box-content:nth-child(2) {
	 display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: flex-end;
	justify-content: flex-end;
    -webkit-align-items: center;
	align-items: center;
}

.header-box-content:nth-child(2) h2 {
   text-align: right;
   font-size: 1rem;
   line-height: 1.5rem;
}

.header-box-content:nth-child(3) {
    -webkit-order: 2;
    -ms-order: 2;
	order: 2;
    height: 100px;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
	flex: 1 100%;
	display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    -webkit-align-items: center;
	align-items: center;
	display: block;
}

.fixed-header {
	width: 47%;
	position: fixed;
	top: 0;
	left:3%;
}
.fixed-header a {
	background: #ffffff;
	margin: 20px 0 0 0;
}
nav {
    -webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;

	display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;

	width: 50%;
}

nav a {
	display: block;
}

.mobile-nav-container {
	display: none;
}

footer div:nth-child(1) {
    text-align: left;
    -webkit-flex: 1 50%;      
    -ms-flex: 1 50%;
	flex: 1 50%;
    -webkit-order: 1;
    -ms-flex-order: 1;
	order: 1;
	padding-bottom: 50px;
}

footer div:nth-child(2) {
  
    text-align: right;
    -webkit-flex: 1 50%;      
    -ms-flex: 1 50%;
   	flex: 1 50%;
   	-webkit-order: 1;
    -ms-flex-order: 1;
   	order: 1;
   	padding-bottom: 50px;
}

}

/*------------------------- footer -------------------------*/

footer {
	font-weight: 400;
	width: 94%;
	font-size: 0.8rem;
	margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;

}

footer > * {
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

footer div {
	text-align: center;
}

footer div:nth-child(1) {
    -webkit-order: 1;
    -ms-order: 1;
	order: 1;
	padding-bottom: 20px;
	
}

footer div:nth-child(2) {
 -webkit-order: 2;
 -ms-order: 2;
 order: 2;
 padding-bottom: 20px;

}
