
a.print-bold {
	text-decoration: underline;
}
.box-content img {
	display: block;
	max-width: 280px;
  margin: 0 auto;
}


 .box-content:nth-child(1), .box-content:nth-child(4),.box-content:nth-child(7),
    .box-content:nth-child(10),.box-content:nth-child(13),.box-content:nth-child(16),
    .box-content:nth-child(19),.box-content:nth-child(22),.box-content:nth-child(25),
    .box-content:nth-child(28),.box-content:nth-child(31){
    	display: none;

    }

    .box-content:nth-child(2), .box-content:nth-child(3),
    .box-content:nth-child(5),.box-content:nth-child(6),
    .box-content:nth-child(8),.box-content:nth-child(9),
    .box-content:nth-child(11),.box-content:nth-child(12),
    .box-content:nth-child(14),.box-content:nth-child(15),
    .box-content:nth-child(17),.box-content:nth-child(18),
    .box-content:nth-child(20), .box-content:nth-child(21),
    .box-content:nth-child(23), .box-content:nth-child(24),
    .box-content:nth-child(26), .box-content:nth-child(27),
    .box-content:nth-child(29), .box-content:nth-child(30),
    .box-content:nth-child(32), .box-content:nth-child(33){
    	margin-top: 40px;
    }

.box-content:nth-child(34) {
	height: 100px;
	background: #ffffff;
}

/*----------------------------- 801+ --------------------------*/

@media all and (min-width: 801px) {

.box-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.box-content img {
	margin: auto;
}

    .box-content:nth-child(1), .box-content:nth-child(4),.box-content:nth-child(7),
    .box-content:nth-child(10),.box-content:nth-child(13),.box-content:nth-child(16),
    .box-content:nth-child(19),.box-content:nth-child(22),.box-content:nth-child(25),
    .box-content:nth-child(28),.box-content:nth-child(31)
    {
    	height: 50px;
    	-webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
    	display: block;
    }
    
     .box-content:nth-child(2), .box-content:nth-child(3),
      .box-content:nth-child(5),.box-content:nth-child(6),
      .box-content:nth-child(8),.box-content:nth-child(9),
    .box-content:nth-child(11),.box-content:nth-child(12),
    .box-content:nth-child(14),.box-content:nth-child(15),
    .box-content:nth-child(17),.box-content:nth-child(18),
    .box-content:nth-child(20), .box-content:nth-child(21),
    .box-content:nth-child(23), .box-content:nth-child(24),
    .box-content:nth-child(26), .box-content:nth-child(27),
    .box-content:nth-child(29), .box-content:nth-child(30),
    .box-content:nth-child(32), .box-content:nth-child(33){
    	margin-top: 0;
    	-webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%;
    }


    .box-content:nth-child(1) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .box-content:nth-child(2),.box-content:nth-child(3) {
       -webkit-order: 2;
       -ms-flex-order: 2;
       order: 2;
       
    }

     

    .box-content:nth-child(4) {
       -webkit-order: 3;
       -ms-flex-order: 3;
       order: 3;
    }

    .box-content:nth-child(5),.box-content:nth-child(6) {
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4;

    }


    .box-content:nth-child(7) {
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5;
    }


    .box-content:nth-child(8), .box-content:nth-child(9) {
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6;
    }

    
    .box-content:nth-child(10) {
       -webkit-order: 7;
       -ms-order: 7;
       order: 7;
    }

    .box-content:nth-child(11),.box-content:nth-child(12) {
       -webkit-order: 8;
       -ms-order: 8;
       order: 8;
    }


    .box-content:nth-child(13) {
       -webkit-order: 9;
       -ms-order: 9;
       order: 9;
    }

    .box-content:nth-child(14),.box-content:nth-child(15) {
       -webkit-order: 10;
       -ms-order: 10;
       order: 10;

    }


    .box-content:nth-child(16) {
       -webkit-order: 11;
       -ms-order: 11;
       order: 11;
    }


    .box-content:nth-child(17),.box-content:nth-child(18) {
       -webkit-order: 12;
       -ms-order: 12;
       order: 12;
    }



    .box-content:nth-child(19) {
       -webkit-order: 13;
       -ms-order: 13;
       order: 13;
    }

    
    .box-content:nth-child(20), .box-content:nth-child(21) {
    	-webkit-order: 14;
      -ms-order: 14;
      order: 14;
    }
    .box-content:nth-child(21) img {
      max-width: 400px;
    }

    .box-content:nth-child(22) {
       -webkit-order: 15;
       -ms-order: 15;
       order: 15;
    }

    .box-content:nth-child(23),.box-content:nth-child(24) {
       -webkit-order: 16;
       -ms-order: 16;
       order: 16;
       height: 600px;
    }


    .box-content:nth-child(25) {
         -webkit-order: 17;
         -ms-order: 17;
         order: 17;
    }

    .box-content:nth-child(26),.box-content:nth-child(27) {
       -webkit-order: 18;
       -ms-order: 18;
       order: 18;

    }

    .box-content:nth-child(28) {
       -webkit-order: 19;
       -ms-order: 19;
       order: 19;
    }


    .box-content:nth-child(29),.box-content:nth-child(30) {
       -webkit-order: 20;
       -ms-order: 20;
       order: 20;
    }
    

    .box-content:nth-child(31) {
      -webkit-order: 21;
      -ms-order: 21;
      order: 21;
    }

    .box-content:nth-child(32),.box-content:nth-child(33) {
      -webkit-order: 22;
      -ms-order: 22;
      order: 22;
    }

    .box-content:nth-child(34) {
      -webkit-order: 23;
      -ms-order: 23;
      order: 23;
    }




@media all and (min-width: 1001px) {
   .box-content img  {
   	max-width: 500px;
   }
	
	
}

@media all and (max-width: 1000px) and (min-width: 420px) {
	.box-content img {
		max-width: 400px;
	}
}








