@import url("https://fonts.googleapis.com/css?family=Vollkorn:700i");
.nav-container {
  margin: 60px 0; }
  @media all and (max-width: 749px) {
    .nav-container {
      margin: 30px 0; } }

.first-image-container {
  margin-bottom: 60px; }

.first-image-container, .second-image-container, .third-image-container, .fourth-image-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px; }
  @media all and (max-width: 749px) {
    .first-image-container, .second-image-container, .third-image-container, .fourth-image-container {
      margin-bottom: 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .first-image-container div, .second-image-container div, .third-image-container div, .fourth-image-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .first-image-container div img, .second-image-container div img, .third-image-container div img, .fourth-image-container div img {
    border: #000 solid 4px;
    margin: 0; }
    @media all and (max-width: 749px) {
      .first-image-container div img, .second-image-container div img, .third-image-container div img, .fourth-image-container div img {
        max-width: 100%; } }

.history-container, .accord-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 60px; }
  @media all and (max-width: 749px) {
    .history-container, .accord-container {
      margin-bottom: 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .history-container article, .accord-container article {
    max-width: 500px; }

.accord-container, .info-containter, footer {
  margin-bottom: 60px; }
  @media all and (max-width: 749px) {
    .accord-container, .info-containter, footer {
      margin-bottom: 30px; } }

.title-deco {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px; }

.nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-container span:nth-child(2) {
    margin-left: 40px; }
  .nav-container article {
    font-size: 2rem; }
    @media all and (max-width: 749px) {
      .nav-container article {
        font-size: 1rem; } }
    @media all and (min-width: 750px) and (max-width: 1000px) {
      .nav-container article {
        font-size: 1.5rem; } }
  .nav-container article.logo {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media all and (max-width: 749px) {
      .nav-container article.logo {
        height: 40px; } }
  .nav-container article.nav {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media all and (max-width: 749px) {
      .nav-container article.nav {
        height: 40px;
        width: 100%; } }
    .nav-container article.nav ul {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; }
      @media all and (max-width: 749px) {
        .nav-container article.nav ul {
          width: 100%; } }

nav ul li a {
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }
  nav ul li a:hover {
    color: #000; }

.nav-container article:nth-child(1) span:nth-child(2) {
  margin-left: 40px; }

/*@mixin about-Small-accord {
	@media all and (max-width:650px) {
		@content;
	}
}*/
.accord-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .accord-container .accord-about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .accord-container .accord-wrapper {
    margin-top: 60px; }
    @media all and (max-width: 749px) {
      .accord-container .accord-wrapper {
        margin-top: 30px; } }
    .accord-container .accord-wrapper p {
      max-width: 500px; }
  @media all and (max-width: 749px) {
    .accord-container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.box {
  width: 500px; }
  @media all and (max-width: 500px) {
    .box {
      width: 100%; } }

.title_div {
  border-bottom: 2px #ffffff solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  padding: 10px 0; }
  .title_div:hover {
    border-bottom: 2px #000 solid; }
  .title_div:hover {
    color: #000;
    cursor: pointer; }

.content_div {
  display: none; }
  .content_div p {
    padding: 10px 0; }

.contact-info {
  width: 500px; }
  @media all and (max-width: 749px) {
    .contact-info {
      width: 100%; } }
  .contact-info article:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-info article:nth-child(3) p {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%; }

article.social-icon-container {
  margin-bottom: 60px;
  height: auto;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  @media all and (max-width: 749px) {
    article.social-icon-container {
      margin-bottom: 30px; } }
  article.social-icon-container article:nth-child(1) p {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 22px; }
  article.social-icon-container article:nth-child(2) {
    height: auto; }
    article.social-icon-container article:nth-child(2) ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: auto;
      width: 100%;
      float: right; }
      article.social-icon-container article:nth-child(2) ul li {
        -webkit-transition: -webkit-transform 0.4s;
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s; }
      article.social-icon-container article:nth-child(2) ul li:hover {
        cursor: pointer;
        -webkit-transform: scale(2);
                transform: scale(2); }

footer p a:hover {
  color: #000; }

#slider {
  width: 720px;
  height: 400px;
  overflow: hidden; }

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0; }

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px; }

/* helper css, since we don't have images */
.slide1 {
  background: red; }

.slide2 {
  background: blue; }

.slide3 {
  background: green; }

.slide4 {
  background: purple; }

.slide5 {
  background: pink; }

.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  max-width: 500px; }

/* The dots/bullets/indicators 
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  color: #ffffff;
  background: #2E8B57;
  font-size: 1rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.whole-wrapper {
  padding: 0 2%;
  width: 100%;
  height: auto; }
