@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .container .block {
    -webkit-box-flex: 1;
        -ms-flex: 1 25%;
            flex: 1 25%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 900px) and (min-width: 601px) {
      .container .block {
        -webkit-box-flex: 1;
            -ms-flex: 1 33.3333333333%;
                flex: 1 33.3333333333%; } }
    @media screen and (max-width: 600px) {
      .container .block {
        -webkit-box-flex: 1;
            -ms-flex: 1 50%;
                flex: 1 50%; } }
    .container .block div {
      margin: auto;
      height: auto;
      width: auto; }
      .container .block div:hover {
        cursor: cell; }
  .container .block:nth-child(1), .container .block:nth-child(2), .container .block:nth-child(3), .container .block:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .container .block:nth-child(5), .container .block:nth-child(6), .container .block:nth-child(7), .container .block:nth-child(8) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .container .block:nth-child(9), .container .block:nth-child(10), .container .block:nth-child(11), .container .block:nth-child(12) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .container .block:nth-child(13), .container .block:nth-child(14), .container .block:nth-child(15), .container .block:nth-child(16) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .container .block:nth-child(17), .container .block:nth-child(18), .container .block:nth-child(19), .container .block:nth-child(20) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  @media screen and (max-width: 900px) and (min-width: 601px) {
    .container .block:nth-child(1), .container .block:nth-child(2), .container .block:nth-child(3) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .container .block:nth-child(4), .container .block:nth-child(5), .container .block:nth-child(6) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .container .block:nth-child(7), .container .block:nth-child(8), .container .block:nth-child(9) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .container .block:nth-child(10), .container .block:nth-child(11), .container .block:nth-child(12) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .container .block:nth-child(13), .container .block:nth-child(14), .container .block:nth-child(15) {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .container .block:nth-child(16), .container .block:nth-child(17), .container .block:nth-child(18) {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6; }
    .container .block:nth-child(19), .container .block:nth-child(20), .container .block:nth-child(21) {
      -webkit-box-ordinal-group: 8;
          -ms-flex-order: 7;
              order: 7; } }
  @media screen and (max-width: 600px) {
    .container .block:nth-child(1), .container .block:nth-child(2) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .container .block:nth-child(3), .container .block:nth-child(4) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .container .block:nth-child(5), .container .block:nth-child(6) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .container .block:nth-child(7), .container .block:nth-child(8) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .container .block:nth-child(9), .container .block:nth-child(10) {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .container .block:nth-child(11), .container .block:nth-child(12) {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6; }
    .container .block:nth-child(13), .container .block:nth-child(14) {
      -webkit-box-ordinal-group: 8;
          -ms-flex-order: 7;
              order: 7; }
    .container .block:nth-child(15), .container .block:nth-child(16) {
      -webkit-box-ordinal-group: 9;
          -ms-flex-order: 8;
              order: 8; }
    .container .block:nth-child(17), .container .block:nth-child(18) {
      -webkit-box-ordinal-group: 10;
          -ms-flex-order: 9;
              order: 9; }
    .container .block:nth-child(19), .container .block:nth-child(20) {
      -webkit-box-ordinal-group: 11;
          -ms-flex-order: 10;
              order: 10; } }
  .container .block:nth-child(21) {
    display: none; }
    @media screen and (max-width: 600px) {
      .container .block:nth-child(21) {
        display: none; } }
    @media screen and (max-width: 900px) and (min-width: 601px) {
      .container .block:nth-child(21) {
        display: block; }
        .container .block:nth-child(21) div {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .container .block:nth-child(21) div img {
            margin: auto; } }

.block:nth-child(2) img,
.block:nth-child(8) img,
.block:nth-child(15) img {
  -webkit-animation: grow-one 4s linear 0.2s infinite alternate;
          animation: grow-one 4s linear 0.2s infinite alternate; }

@-webkit-keyframes grow-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); } }

@keyframes grow-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); } }
.block:nth-child(6) img,
.block:nth-child(9) img,
.block:nth-child(18) img, .block:nth-child(20) img {
  -webkit-animation: grow-two 3.8s linear 0.1s infinite alternate;
          animation: grow-two 3.8s linear 0.1s infinite alternate; }

@-webkit-keyframes grow-two {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); } }

@keyframes grow-two {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); } }
.block:nth-child(2) div:hover, .block:nth-child(6) div:hover,
.block:nth-child(8) div:hover, .block:nth-child(9) div:hover,
.block:nth-child(15) div:hover, .block:nth-child(18) div:hover, .block:nth-child(20) div:hover {
  cursor: default; }
.block:nth-child(2) div img, .block:nth-child(6) div img,
.block:nth-child(8) div img, .block:nth-child(9) div img,
.block:nth-child(15) div img, .block:nth-child(18) div img, .block:nth-child(20) div img {
  width: 150px; }
  @media screen and (max-width: 600px) {
    .block:nth-child(2) div img, .block:nth-child(6) div img,
    .block:nth-child(8) div img, .block:nth-child(9) div img,
    .block:nth-child(15) div img, .block:nth-child(18) div img, .block:nth-child(20) div img {
      width: 100px; } }

.block:nth-child(1) div img, .block:nth-child(3) div img,
.block:nth-child(4) div img, .block:nth-child(5) div img,
.block:nth-child(7) div img,
.block:nth-child(10) div img, .block:nth-child(11) div img,
.block:nth-child(12) div img, .block:nth-child(13) div img,
.block:nth-child(14) div img,
.block:nth-child(16) div img, .block:nth-child(17) div img,
.block:nth-child(19) div img, .block:nth-child(21) div div img {
  -webkit-animation: shake 4s linear 0s infinite;
          animation: shake 4s linear 0s infinite; }
  .block:nth-child(1) div img:hover, .block:nth-child(3) div img:hover,
  .block:nth-child(4) div img:hover, .block:nth-child(5) div img:hover,
  .block:nth-child(7) div img:hover,
  .block:nth-child(10) div img:hover, .block:nth-child(11) div img:hover,
  .block:nth-child(12) div img:hover, .block:nth-child(13) div img:hover,
  .block:nth-child(14) div img:hover,
  .block:nth-child(16) div img:hover, .block:nth-child(17) div img:hover,
  .block:nth-child(19) div img:hover, .block:nth-child(21) div div img:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); }
  25% {
    -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
            transform: rotate(10deg) translate3d(0, 0, 0); }
  50% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); }
  75% {
    -webkit-transform: rotate(-10deg) translate3d(0, 0, 0);
            transform: rotate(-10deg) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); } }

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); }
  25% {
    -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
            transform: rotate(10deg) translate3d(0, 0, 0); }
  50% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); }
  75% {
    -webkit-transform: rotate(-10deg) translate3d(0, 0, 0);
            transform: rotate(-10deg) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); } }
.overlay .over-over {
  text-align: center;
  position: fixed;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700; }
.overlay .left {
  top: 48%;
  left: 3vw; }
  .overlay .left:hover {
    cursor: cell; }
  @media screen and (max-width: 900px) and (min-width: 601px) {
    .overlay .left {
      left: 4vw; } }
  @media screen and (max-width: 600px) {
    .overlay .left {
      left: 5vw; } }
  .overlay .left div {
    height: 20px;
    width: 1px;
    position: relative; }
    .overlay .left div p {
      position: absolute;
      top: 45%;
      left: -29px;
      width: 55px;
      text-align: center;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
.overlay .top {
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 600px) {
    .overlay .top {
      height: 130px; } }
  .overlay .top div {
    margin: auto;
    height: 120px;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 900px) and (min-width: 601px) {
      .overlay .top div {
        width: 80%; } }
    @media screen and (max-width: 600px) {
      .overlay .top div {
        width: 100%; } }
    .overlay .top div div {
      width: 100%;
      height: 100%;
      position: relative; }
      .overlay .top div div p {
        display: none;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 0;
        color: #00b0f9;
        z-index: 2000; }
      .overlay .top div div img {
        display: none;
        z-index: 1200;
        position: absolute;
        width: 130px; }
        @media screen and (max-width: 600px) {
          .overlay .top div div img {
            width: 100px; } }
.overlay .right {
  top: 44%;
  right: 3vw; }
  .overlay .right:hover {
    cursor: cell; }
  @media screen and (max-width: 600px) {
    .overlay .right {
      right: 5vw; } }
  @media screen and (max-width: 900px) and (min-width: 601px) {
    .overlay .right {
      right: 4vw; } }
  .overlay .right div {
    height: 110px;
    width: 1px;
    position: relative; }
    .overlay .right div p {
      position: absolute;
      top: 37%;
      right: -60px;
      width: 110px;
      text-align: center;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
.overlay .bottom {
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .overlay .bottom p {
    margin: auto; }

.bag-container {
  z-index: 2300; }

.about-block {
  border: 10px solid #FFF8DC;
  color: #FFF8DC;
  background: #00b0f9;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 15px;
  z-index: 3000;
  width: 300px; }
  @media screen and (max-width: 600px) {
    .about-block {
      width: 200px;
      padding: 10px;
      border: 5px solid #FFF8DC; } }

.bag-container, .about-block {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.bag-container div {
  width: 100%;
  height: 100%;
  position: relative; }
  .bag-container div img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media screen and (max-width: 900px) and (min-width: 601px) {
      .bag-container div img {
        width: 380px; } }
    @media screen and (max-width: 600px) {
      .bag-container div img {
        width: 250px; } }
  .bag-container div p {
    padding: 0 4px;
    text-transform: uppercase;
    background: #00b0f9;
    color: #FFF8DC;
    width: 200px;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, 60%);
            transform: translate(-50%, 60%); }
    @media screen and (max-width: 900px) and (min-width: 601px) {
      .bag-container div p {
        font-size: 2rem;
        width: 160px; } }
    @media screen and (max-width: 600px) {
      .bag-container div p {
        font-size: 1rem;
        width: 80px; } }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font: 16px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

body {
  background: #ffceed;
  color: #00b0f9; }

a {
  text-decoration: none;
  color: #00b0f9; }
  a:hover {
    cursor: cell; }

p {
  text-align: center; }

/*# sourceMappingURL=pretty-sweet.css.map */